* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  header {
    max-width: 600px;
    text-align: center;
    position: absolute;
    z-index: 9000;
  }
  
  #landing h1 {
      font-size: 18px;
      text-align: center;
  }
  
  .hidden {
    display: none;
  }

  #map {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
  }